{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <script type="module" src="{% static 'js/carousel.js' %}"></script>
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block content %}

    {% for category in categories %}
        <section class="mb-12">
            <!-- Carrusel de las diferentes categorias con las cards de los animes -->
            <h2 class="text-2xl font-bold w-[10%] text-white mb-4 category-title cursor-pointer">{{ category.name }}</h2>

            <div class="glide group relative overflow-hidden">
                <div class="glide__track pr-[105px]" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for anime in category.animes.all %}
                            <li class="glide__slide">
                                <a href="{% url 'anime_detail' anime.title %}" class="block w-[250px]">
                                    <div class="hover-card shadow-md overflow-hidden">
                                        <img src="{{ anime.image_card.url }}" alt="{{ anime.title }}" class="h-[350px] object-cover rounded-sm">
                                        <div class="p-2">
                                            <h2 class="text-md font-bold text-center text-white">{{ anime.title }}</h2>
                                        </div>
                                        <!-- Al pasar el mouse por arriba de la card del anime se muestra la descripcion y capitulos del anime -->
                                        <div class="hover-overlay">
                                            <h2 class="text-ssm font-bold text-white">{{ anime.title }}</h2>
                                            <p class="text-sm font-semibold text-gray-400 pt-3">{{ anime.total_episodes }} Episodios</p>
                                            <p class="text-sm pt-2 text-white">{{ anime.description|truncatechars:150 }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Flechas para manejar el carrusel -->
                <div class="glide__arrows absolute inset-0 z-10 flex justify-between pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity duration-300" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left pointer-events-auto w-[10%] h-full flex items-center justify-start bg-gradient-to-r from-black/30 to-transparent transition-opacity duration-300" data-glide-dir="<">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white ml-2" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                        </svg>
                    </button>
                    <button class="glide__arrow glide__arrow--right pointer-events-auto w-[10%] h-full flex items-center justify-end bg-gradient-to-l from-black/30 to-transparent transition-opacity duration-300" data-glide-dir=">">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white mr-2" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </button>
                </div>
            </div>    
        </section>
    {% endfor %}
    
    <!-- Sección para elegir anime aleatorio -->
    <section class="relative w-full h-[400px] bg-gradient-to-b from-[#11111F] to-[#000000] flex flex-col items-center justify-center rounded-md overflow-hidden my-12 shadow-lg">
        <img id="anime-img" src="" alt="" class="hidden absolute w-full h-full object-cover object-[center_25%] opacity-20 z-0 transition-opacity duration-300">

        <h1 id="view-anime-title" href="#" class="hidden text-white text-2xl font-bold mb-6 z-10">Hs</h1>
        <h2 id="view-anime-question" class="text-white text-2xl font-semibold mb-6 z-10">¿Ahora qué vas a ver?</h2>

        <div class="flex gap-4 z-10">
            <button id="surprise-btn" class="relative overflow-hidden w-48 h-12 [background-color:#FFBC0E] hover:bg-yellow-600 font-bold rounded-sm flex items-center justify-center transition-transform hover:scale-105">
                <span class="relative z-10">Sorpréndeme</span>
            </button>

            <a id="view-anime-btn" href="#" class="hidden w-48 h-12 [background-color:#FFBC0E] hover:bg-yellow-600 text-black font-bold rounded-sm flex items-center justify-center transition-transform hover:scale-105">
                <span class="relative z-10">Ver</span>
            </a>
        </div>
    </section>

    <script type="application/json" id="categories-data">{{ categories_json|safe }}</script>
{% endblock %}