{% extends "base.html" %}
{% load form_filters %}

{% block title %}Restablecer Contraseñaa{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
  <form method="post" class="p-8 rounded-lg shadow-md w-full max-w-lg bg-[#11111F]">
    {% csrf_token %}
    <h2 class="text-white text-2xl font-bold text-center mb-6">Restablecer Contraseña</h2>

    <div class="mb-4">
      <label for="new_password1" class="text-white block text-sm font-medium">
        Nueva Contraseña
      </label>
      {{ form.new_password1|add_class:"bg-gray-200 block w-full px-4 py-2 mt-1 border border-gray-300 rounded-sm" }}
    </div>

    <div class="mb-4">
      <label for="new_password2" class="text-white block text-sm font-medium">
        Confirmar Nueva Contraseña
      </label>
      {{ form.new_password2|add_class:"bg-gray-200 block w-full px-4 py-2 mt-1 border border-gray-300 rounded-sm" }}
    </div>

    <button
      type="submit"
      class="[background-color:#FFBC0E] w-full font-semibold py-2 px-4 rounded-sm hover:bg-yellow-600 transition-colors duration-300"
    >
      Cambiar contraseña
    </button>
  </form>
</div>
{% endblock %}

