{% extends 'base.html' %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" href="{% static 'css/cards.css'%}">{% endblock %}

{% block extra_scripts %}<script src="{% static 'js/search.js' %}"></script>{% endblock %}

{% block title %}Buscador{% endblock %}
{% block content %}
    <!-- Barra de Búsqueda -->
    <form method="get" class="mx-[20%] py-8">
        <div class="flex justify-end items-center relative">
            <div id="searchContainer" class="relative w-[95%] transition-all duration-300 ease-in-out">
                <input type="text" name="search" id="searchInput" placeholder="Buscar anime..." class="bg-transparent text-2xl border-b-2 border-yellow-500 text-white px-4 py-2 pr-10 w-full focus:outline-none transition-all duration-300"/>

                <button type="button" id="clearSearch" class="hidden bg-transparent absolute right-2 top-1/2 transform -translate-y-1/2 text-white hover:bg-transparent hover:text-yellow-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>

    {% if search_value %}
        <main>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
                <!-- Mostrar los resultados de la busqueda -->
                {% if animes %}
                    {% for anime in animes %}
                        <a href="{% url 'anime_detail' anime.title %}" class="block w-[250px]">
                            <div class="hover-card shadow-md overflow-hidden">
                                <img src="{{ anime.image_card.url }}" alt="{{ anime.title }}" class="h-[350px] object-cover rounded-sm">
                                <div class="p-2">
                                    <h2 class="text-md font-bold text-center text-white">{{ anime.title }}</h2>
                                </div>
                                <div class="hover-overlay">
                                    <h3 class="text-sm font-bold text-white">{{ anime.title }}</h3>
                                    <p class="text-sm font-semibold text-gray-400 pt-3">{{ anime.total_episodes }} Episodios</p>
                                    <p class="text-sm pt-2 text-white">{{ anime.description|truncatechars:150 }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="col-span-full  items-center justify-center text-center mt-8">
                        <h2 class="text-white text-xl font-semibold mb-2">No se encontraron resultados</h2>
                        <p class="text-gray-400">No hay animes que coincidan con "<strong>{{ search_value }}</strong>"</p>
                        <img src="{% static 'images/not_found.gif' %}" alt="No results" class="mx-auto mt-4 w-22">
                        <a href="{% url 'anime_list' %}" class="inline-block mt-4 text-yellow-400 hover:underline">Volver a ver todos</a>
                    </div>
                {% endif %}
            </div>
        </main>
    {% endif %}
{% endblock %}