{% extends "base.html" %}
{% load form_filters %}

{% block title %}Sugerencia{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="max-w-2xl mx-auto">
            <!-- Mostrar las sugerencias del usuario al administrador -->
            <h2 class="text-white text-3xl font-bold mb-4">Sugerencias recibidas</h2>
            {% if suggestions %}
                <ul class="space-y-4">
                    {% for suggestion in suggestions %}
                        <li class="[background-color:#11111F] p-4 rounded-md text-white">
                            <div class="flex justify-between items-start">
                                <strong class="text-lg [color:#FFBC0E]">{{ suggestion.subject }}</strong>
                                <span><strong>Usuario:</strong> {{ suggestion.user.username }}</span>
                            </div>
                            <p class="mt-2">{{ suggestion.message }}</p>
                            <div class="flex justify-end">
                                <p class="text-xs">{{ suggestion.created_at|date:"d/m/Y H:i" }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-white">No hay sugerencias.</p>
            {% endif %}
        </div>
    {% else %}
        <!-- Mostrar el formulario de sugerencias a los usuarios -->
        <div class="max-w-2xl mx-auto [background-color:#11111F] p-8 rounded-lg text-white">
        <h2 class="text-3xl font-bold mb-4">Buzón</h2>

        <p class="mb-6">
            <span class="font-bold">¿Tienes Alguna Sugerenecia?</span> Tus sugerencias son importantes para nosotros.
        </p>

        <form method="post" action="{% url 'suggestion' %}" class="space-y-4">
            {% csrf_token %}
            <div>
            <div>
                <label for="message" class="lock text-md font-medium">Asunto:</label>
                {{ form.subject|add_class:"bg-gray-200 text-black block w-full px-4 py-2 mt-1 rounded-md mb-4" }}
            </div>
            <div>
                <label for="subject" class="block text-md font-medium">Sugerencia:</label>
                {{ form.message|add_class:"bg-gray-200 text-black block w-full px-4 py-2 mt-1 rounded-md mb-4 " }}
            </div>
            <button type="submit" class="[background-color:#FFBC0E] font-semibold hover:bg-yellow-600 text-black px-4 py-2 rounded">
                Enviar mensaje
            </button>
        </form>
    </div>
    {% endif %}
{% endblock %}
